.form-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.nav-link {
    color: #495057;
}

.active {
    color: #0d6efd;
}


a.title__link {
    color: #000000;
    text-decoration: none;
}

a:hover.title__link {
    color: #000000;
    text-decoration: underline;
}

posts__container {
}

.post__main {
    margin-top: 16px;
    padding-right: 8px;
}

.post__header {
    margin-bottom: 16px;
}

.post__user__info {
    margin-bottom: 16px;
    display: flex;
}

.post__user__nickname {
    padding-right: 8px;
}

.post__footer {
    display: flex;
}

.post__rating {
    padding-right: 8px;
}

.comments__container {
    padding-top: 16px;
}