{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Pretty blog{% endblock %}</title>
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog_core/style.css' %}" type="text/css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'home' %}">Pretty blog</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            {% if request.user.is_authenticated %}
            <div class="nav-item text-nowrap d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <a href="/@{{ user.username }}" class="nav-link px-3">Hello, {{ user.username }}</a>
                <a class="nav-link px-3" href="{% url 'logout' %}?next={{request.get_full_path}}">Log out</a>
            </div>
            {% else %}
            <div class="nav-item text-nowrap d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <a class="nav-link px-3" href="{% url 'login' %}?next={{request.get_full_path}}">Log in</a>
                <a class="nav-link px-3" href="{% url 'register' %}?next={{request.get_full_path}}">Sign in</a>
            </div>
            {% endif %}

        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">
                              Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'add_post' %}" class="nav-link">
                              Add post
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                {% endblock %}
                {% if page_obj.has_other_pages %}
                <nav aria-label="pagination">
                    <ul class="pagination mt-3">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                Previous
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                1
                            </a>
                        </li>
                        {% endif %}
                        {% if page_obj.number|add:-2 > 2 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                        {% endif %}
                        {% for page_number in paginator.page_range %}
                        {% if page_obj.number ==  page_number %}
                        <li class="page-item disabled">
                            <span class="page-link">{{ page_number }}</span>
                        </li>
                        {% elif page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 and page_number != 1 and page_number != paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.number|add:3 < paginator.num_pages %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginator.num_pages }}">
                                {{ paginator.num_pages }}
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                Next
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </main>
        </div>
    </div>
    <footer class="py-3 my-4">
            <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
            </ul>
            <p class="text-center text-muted">© 2021 by VladLapkovsky</p>
        </footer>
    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>
</body>
</html>



