{% extends "layout/base.html" %}

{% block title %}
{{ author }} posts
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <h2>{{ author }} posts</h2>
    <h2>Joined {{ author.date_joined|date:'d.m.Y' }}</h2>
</div>
<div class="posts__container">
    {% for post in posts %}
        <div class="post__main border-bottom">
            <header class="post__header">
                <div class="post__user__info">
                    <div>
                        <time datetime="{{ post.published|date:'d.m.Y H:i:s' }}">Published {{ post.published|timesince }} ago</time>
                    </div>
                </div>
                <h3 class="post__title">
                    <a href="{{ post.get_absolute_url }}" class="title__link">{{ post.title }}</a>
                </h3>
            </header>
            <div class="post__content">
                <p>{{ post.content|linebreaks|truncatewords:50 }}</p>
            </div>
            <div class="post__footer">
                <p class="post__rating">Rating: {{ post.rating }}</p>
                <p>Comments: {{ post.comments__count }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

